asgiref==3.5.2
coverage==6.5.0
dataclasses==0.6
distlib==0.3.6
Django==4.1.1
django-ckeditor==6.5.1
django-cors-headers==3.13.0
django-js-asset==2.0.0
django-mptt==0.14.0
djangorestframework==3.14.0
filelock==3.8.0
mysql==0.0.3
mysql-connector==2.2.9
mysql-connector-python==8.0.29
mysqlclient==2.1.1
platformdirs==2.5.2
protobuf==3.20.1
pymongo==3.10.1
pytz==2020.1
six==1.15.0
sqlparse==0.2.4
tzdata==2022.2
virtualenv==20.16.5
virtualenvwrapper-win==1.2.7
